@{
    ViewBag.Title = "Add House";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_HouseFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
