@model IEnumerable<HouseServiceModel>

@{
    ViewBag.Title = "My Houses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="row">
        @foreach (var house in Model)
        {
            <partial name="_HousePartial" model="@house" />
        }
    </div>
}
else
{
    <h3 class="text-center">You have no houses yet!</h3>
}